#body {
   background-color: rgb(5, 14, 44);
   display: flex;
   justify-content:center;
  
}
div {
width: 260px;
background-color: #022240;
padding-left:1rem;
padding-top: 1%;
padding-bottom: 1%;
margin-top: 1rem;
padding-right: .5rem;
border-radius: 5%;
padding-bottom: 2%;
border: 3px solid #001528;

}

.background-1{
/* try to change the background */
width: 260px;
background-color:#06192c;
padding-left:1rem;
padding-top: .5rem;
padding-bottom: 2%;
margin-top: 1rem;
padding-right: 2.5rem;
border-radius: 15%;
margin-top: 1%;
border-top-right-radius: 20%;
border-top-left-radius: 20%;
border-top: 3px solid #09f6ba;
border-bottom: 1px solid#09f6ba;
border-right: 1px solid#09f6ba;
border-left: 5px solid#09f6ba;
}

img {
 
    padding-top:10%;
    width:250px;
}
footer {
  padding-top: 2%;
  font-size: large;
  color:0px 3px 1px -2px rgb(0 0 0 / 20%), 0px 2px 2px 0px rgb(0 0 0 / 14%), 0px 1px 5px 0px rgb(0 0 0 / 12%);
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-style: oblique;
 
}


h1 {
  margin-bottom:0%;
  padding-bottom: 0%;
  padding-left: 30%;
  color: rgb(13, 255, 199);

}
.main {
  color: #a8c696;

}
.main-icon{
  display: flex;
  justify-content: flex-start;
}
a:hover {
  color: aliceblue;
  text-decoration: none; 
}
a:hover, a:active 
{
  font-size: 100%;
  text-decoration: none; 
}
a {
  color: aqua;
  text-decoration: none;
  font-size: 150%;
 
}
em {
  color: rgb(27, 235, 176);
  margin-bottom: auto;
}
.icon-1:before{
  content: '';
  background:url(images/chart.png);
  background-size:cover;
      position:absolute;
  width:15px;
  height:15px;
  margin-left:-20px;

}


.icon-2:before{
  content: '';
  background:url(images/clock.png);
  background-size:cover;
      position:absolute;
  width:20px;
  height:20px;
  margin-left:-25px;
}
p  {
  color: #a8c696;
  padding: auto;
}

article {
  display: flex;
  align-items:center;
  border-top: 2px solid #02aa80;
  border-radius: 5%;

}